body{
    text-align:center;
    font-family:Arial;
    transition:all 0.8s ease;
    padding:40px;
}

button{
    padding:10px 20px;
    margin:10px;
    cursor:pointer;
}

.focus{
    background:#f5f5dc;
    color:black;
}

.chill{
    background:#87ceeb;
    color:white;
    font-family:cursive;
}

.hype{
    background:#ff4500;
    color:white;
    font-family:Impact;
}

.sad{
    background:#2f4f4f;
    color:white;
    font-family:Georgia;
}